<nav>
  <ul class="menu-aside">
      <li class="menu-item active">
          <a class="menu-link" href="/admin/adminDashboard">
              <i class="icon material-icons md-home"></i>
              <span class="text">Dashboard</span>
          </a>
      </li>
      <li class="menu-item ">
          <a class="menu-link" href="/admin/products">
              <i class="icon material-icons md-shopping_bag"></i> 
              <span class="text">Products</span>
          </a>
      </li>                                                                                             
      <li class="menu-item ">
          <a class="menu-link" href="/admin/ums">
              <i class="icon material-icons md-person"></i>
              <span class="text">User management</span>
          </a>
      </li>
      <li class="menu-item">
          <a class="menu-link" href="/admin/category">
              <i class="icon material-icons md-store"></i>
              <span class="text">Categories</span>
          </a>
      </li>
      <li class="menu-item ">
          <a class="menu-link" href="/admin/orderDetails">
              <i class="icon material-icons md-shopping_cart"></i>
              <span class="text">Orders</span>
          </a>
      </li>
      <li class="menu-item ">
          <a class="menu-link" href="/admin/sales">
              <i class="icon material-icons md-monetization_on"></i>
              <span class="text">Sales</span>
          </a>
      
      </li>
      <li class="menu-item ">
          <a class="menu-link" href="/admin/couponPage">
              <i class="icon material-icons md-monetization_on"></i>
              <span class="text">Coupon</span>
          </a>
      
      </li>


  
      </li>

  </ul>

  <br />
  <br />
</nav>